# Your domain (services will be at <service>.yourdomain.com)
DOMAIN_NAME=example.com

# Cloudflare credentials for DNS challenge (Let's Encrypt)
CF_API_EMAIL=you@example.com
CF_DNS_API_TOKEN=your_cloudflare_dns_api_token

# Transmission web UI credentials
TRANSMISSION_USER=admin
TRANSMISSION_PASS=changeme

# Ai
OPENCODE_GO_API_KEY=
API_SERVER_KEY=changeme-any-string-16-chars-plus
HERMES_WEBUI_PASSWORD=changeme

# Invoice Ninja
APP_ENV=production
APP_KEY=
APP_URL=https://invoices.example.com
DB_DATABASE=invoiceninja
DB_USERNAME=invoiceninja
DB_PASSWORD=changeme
DB_ROOT_PASSWORD=changeme
