[Unit]
Description=Homelab Cron Service
ConditionPathExists=!%h/homelab/.working

[Service]
Type=oneshot
WorkingDirectory=%h/homelab
ExecStartPre=/usr/bin/git pull origin main
ExecStart=%h/.local/bin/homelab-sync

[Install]
WantedBy=default.target
